*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: auto;
    }
    body{
    overflow: auto;
    background-color: #f1f1f1;
    }
        .back{
            width: 95%;
            margin: auto;
            background-color: white;
            position: relative;
        }
        header{
            position: fixed; /* Set the navbar to fixed position */
            top: 0;
            width: 95%;
            background-color: #3c8cf0;
            margin: auto;
            z-index: 1;
        }
                nav{
                    background-color: #3c8cf0;
                    width: 58%;
                }
                    nav img{
                        height: 60px;
                        padding: 13px;
                        margin-top: 5px;
                    }
                    nav ul{
                        list-style-type: none;
                        float: right;
                        display: inline;
                        line-height: 60px;
                    }
                        nav ul li{
                         
                         float: left;
                         margin-right: 30px;
                        }
                        nav ul li a{
                            text-decoration: none;
                            text-transform: uppercase;
                            color: white;
                            opacity: .7;
                            padding: 10px;
                        }
                        nav ul li a:hover{
                            opacity: 1;
                        }