* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #f1f3f6;
}

header {
    height: 56px;
    position: relative;
}

.container {
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: fixed;
    top: 0px;
    z-index: 9;
    color: #f0f0f0;
}

nav {
    height: 56px;
    width: 80%;
    margin: auto;
    position: relative;
}

#logo {
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 2px;
}

.an {
    text-decoration: none;
    color: #f0f0f0;
}

#d2 {
    margin-top: -7px;
    font-weight: 500;
    font-style: italic;
    font-size: 11px;
    padding-left: 2px;
}

#k1 {
    color: #ffe500;
    margin-right: 2px;
}

#search {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 107px;
    width: 608px;
}

#search form input {
    width: 100%;
    height: 36px;
    max-width: 564px;
    padding-left: 10px;
}

#search form i {
    color: #2874f0;
    background-color: #fff;
    height: 34px;
    width: 44px;
    margin-left: -5px;
    position: absolute;
    top: 1px;
    padding: 7px 5px;
    font-size: 20px;
}

#more {
    position: absolute;
    top: 17px;
    left: 1050px;
}

#cart {
    position: absolute;
    top: 17px;
    left: 1130px;
}

#login div {
    display: block;
    position: absolute;
    top: 12px;
    left: 870px;
    background-color: #fff;
    height: 30px;
    width: 120px;
    text-align: center;
    padding-top: 5px;
}

#login a {
    color: #2874f0;
    font-weight: 700;
    height: 30px;
    width: 100px;
}

nav label {
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#cart i {
    color: white;
}

#bcont {
    background: #fff;
    min-height: 112px;
    width: 100%;
    position: absolute;
    top: 56px;
}

.minlogo {
    width: 85%;
    margin: auto;
    min-height: 112px;
    overflow: hidden;

}

.minlogo a {
    color: black;
    font-weight: bold;
}

.logocont {
    height: 111px;
    width: 94px;
    float: left;
    margin-left: 32px;
}

.l {
    width: 64px;
    height: 64px;
    margin: 11px 13px;
}

.l img {
    width: 64px;
    height: 64px;

}

.t {
    margin-top: -10px;
    width: 91px;
    height: 19px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
}